<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.resource.mapper.EntityFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="entityFileResultMap" type="org.springblade.resource.entity.EntityFile">
        <id column="id" property="id"/>
        <result column="md5_code" property="md5Code"/>
        <result column="uuid" property="uuid"/>
        <result column="thumbnail_url" property="thumbnailUrl"/>
        <result column="url" property="url"/>
        <result column="file_name" property="fileName"/>
        <result column="real_file_name" property="realFileName"/>
        <result column="suffix" property="suffix"/>
        <result column="size" property="size"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
    </resultMap>

    <insert id="saveBrowsingHistory">
        insert into sf_media_resource_recently(user_id,user_name,resource_id,subject,media_type,create_date,modify_date)
        values (#{userId},#{userName},#{resourceId},#{subject},#{mediaType},#{createDate},#{modifyDate})
    </insert>

    <update id="updateHits">
        update sf_media_resource set hits = hits + 1 where is_deleted = 0 and id = #{id}
    </update>

    <select id="selectEntityFilePage" resultMap="entityFileResultMap">
        select * from sf_entity_file where is_deleted = 0
    </select>

    <select id="findByMD5" resultMap="entityFileResultMap" useCache="false">
		SELECT * FROM sf_entity_file WHERE md5_code = #{args[0],javaType=java.lang.String} limit 1
	</select>

    <select id="findFileByUuid" resultMap="entityFileResultMap" useCache="false">
		SELECT * FROM sf_entity_file WHERE uuid = #{args[0],javaType=java.lang.String} limit 1
	</select>
</mapper>
