<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.user.mapper.ActivityErCodeScanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="activityErCodeScanResultMap" type="cn.rzedu.sf.user.entity.ActivityErCodeScan">
        <id column="id" property="id"/>
        <result column="code_id" property="codeId"/>
        <result column="type" property="type"/>
        <result column="user_id" property="userId"/>
        <result column="scan_user_id" property="scanUserId"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectActivityErCodeScanPage" resultMap="activityErCodeScanResultMap">
        select * from sf_activity_er_code_scan where is_deleted = 0
    </select>

    <select id="findByScanUserAndCode" resultMap="activityErCodeScanResultMap">
        select * from sf_activity_er_code_scan where is_deleted = 0
        AND scan_user_id = #{scanUserId}
        AND code_id = #{codeId}
        LIMIT 1
    </select>

    <select id="findByScanUserAndTypeUser" resultMap="activityErCodeScanResultMap">
        select * from sf_activity_er_code_scan where is_deleted = 0
        AND scan_user_id = #{scanUserId}
        AND `type` = #{type}
        AND user_id = #{userId}
        LIMIT 1
    </select>

</mapper>
