<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.user.mapper.ActivityErCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="activityErCodeResultMap" type="cn.rzedu.sf.user.entity.ActivityErCode">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="award_type" property="awardType"/>
        <result column="user_id" property="userId"/>
        <result column="user_uuid" property="userUuid"/>
        <result column="er_name" property="erName"/>
        <result column="er_code" property="erCode"/>
        <result column="scan_count" property="scanCount"/>
        <result column="scan_people_count" property="scanPeopleCount"/>
        <result column="assist_count" property="assistCount"/>
        <result column="invite_coef" property="inviteCoef"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="selectActivityErCodePage" resultMap="activityErCodeResultMap">
        select * from sf_activity_er_code where is_deleted = 0
    </select>

    <select id="findByTypeAndUserId" resultMap="activityErCodeResultMap">
        select * from sf_activity_er_code where is_deleted = 0
        AND `type` = #{type}
        AND user_id = #{userId}
        LIMIT 1
    </select>

    <select id="findNotExistErCodeUser" resultType="java.util.Map">
        SELECT
            t1.id,
            t1.uuid
        FROM
            sf_user t1
            LEFT JOIN sf_activity_er_code t2 ON t1.id = t2.user_id
            AND t2.type = 1
            AND t2.is_deleted = 0
        WHERE
            t1.is_deleted = 0
            AND t2.id IS NULL
        GROUP BY
            t1.id
    </select>

    <update id="updateScanCount">
        UPDATE sf_activity_er_code
        SET scan_count = scan_count + 1
        WHERE `type` = #{type} AND user_id = #{userId}
    </update>

    <update id="updateScanPeopleCount">
        UPDATE sf_activity_er_code
        SET scan_people_count = scan_people_count + 1
        WHERE `type` = #{type} AND user_id = #{userId}
    </update>

    <select id="getInviteCoefByAssistant" resultType="java.lang.Integer">
        SELECT
            IFNULL( t1.invite_coef, 0 )
        FROM
            sf_activity_er_code t1
            LEFT JOIN sf_activity_user_assist t2 ON t1.user_id = t2.initiator_id
            AND t2.is_deleted = 0
        WHERE
            t1.is_deleted = 0
            AND t1.type = #{type}
            AND t2.assistant_id = #{userId}
    </select>
</mapper>
