<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.user.mapper.ActivityUserAssistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="activityUserAssistResultMap" type="cn.rzedu.sf.user.entity.ActivityUserAssist">
        <id column="id" property="id"/>
        <result column="initiator_id" property="initiatorId"/>
        <result column="initiator_uuid" property="initiatorUuid"/>
        <result column="assistant_id" property="assistantId"/>
        <result column="assistant_uuid" property="assistantUuid"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectActivityUserAssistPage" resultMap="activityUserAssistResultMap">
        select * from sf_activity_user_assist where is_deleted = 0
    </select>

    <select id="findByInitiatorId" resultMap="activityUserAssistResultMap">
        select * from sf_activity_user_assist where is_deleted = 0
        AND initiator_id = #{userId}
    </select>

    <select id="findByAssistantId" resultMap="activityUserAssistResultMap">
        select * from sf_activity_user_assist where is_deleted = 0
        AND assistant_id = #{userId}
        LIMIT 1
    </select>

    <select id="findNotExistAssistUser" resultType="java.util.Map">
        SELECT
            t1.id,
            t1.uuid
        FROM
            sf_user t1
            LEFT JOIN sf_activity_user_assist t2 ON t1.id = t2.assistant_id
            AND t2.is_deleted = 0
        WHERE
            t1.is_deleted = 0
            AND t2.id IS NULL
        GROUP BY
            t1.id
    </select>

</mapper>
