<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.user.mapper.RegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="regionResultMap" type="cn.rzedu.sf.user.entity.Region">
        <id column="id" property="id"/>
        <result column="parent" property="parent"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="short_name" property="shortName"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="level" property="level"/>
        <result column="province_name" property="provinceName"/>
        <result column="city_name" property="cityName"/>
        <result column="district_name" property="districtName"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
    </resultMap>

    <select id="selectRegionPage" resultMap="regionResultMap">
        SELECT * FROM `sf_region`
        <if test="param2 != null">
            WHERE 1=1
            <if test="param2.id != null">
                AND id = #{param2.id}
            </if>
            <if test="param2.parent != null">
                AND parent = #{param2.parent}
            </if>
            <if test="param2.code != null and param2.code != ''">
                AND `code` = #{param2.code}
            </if>
            <if test="param2.level != null">
                AND `level` = #{param2.level}
            </if>
            <if test="param2.name != null and param2.name != ''">
                AND `name` LIKE concat(concat('%', #{param2.name}),'%')
            </if>
        </if>
    </select>

    <select id="findRegionList" resultMap="regionResultMap">
        SELECT * FROM `sf_region` WHERE 1=1
        <if test="parent != null">
            AND parent = #{parent}
        </if>
        <if test="level != null">
            AND `level` = #{level}
        </if>
    </select>

    <select id="findByCode" resultMap="regionResultMap">
        SELECT * FROM `sf_region` WHERE `code` = #{code} LIMIT 1
    </select>

    <delete id="removeByParent">
        DELETE FROM `sf_region` WHERE parent LIKE concat(#{parent},'%')
    </delete>
</mapper>
