<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.user.mapper.UserCharacterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userCharacterResultMap" type="cn.rzedu.sf.user.entity.UserCharacter">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="lesson_id" property="lessonId"/>
        <result column="character_lesson_id" property="characterLessonId"/>
        <result column="character_id" property="characterId"/>
        <result column="finished_percent" property="finishedPercent"/>
        <result column="watch_progress" property="watchProgress"/>
        <result column="last_visited_time" property="lastVisitedTime"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="userCharacterVOResultMap" type="cn.rzedu.sf.user.vo.UserCharacterVO">
        <result column="char_s" property="charS"/>
        <result column="char_t" property="charT"/>
        <result column="video_id" property="videoId"/>
        <result column="learn_count" property="learnCount"/>
        <result column="cartoon_id" property="cartoonId"/>
        <result column="extension_id" property="extensionId"/>
    </resultMap>


    <select id="selectUserCharacterPage" resultMap="userCharacterResultMap">
        select * from sf_user_character where is_deleted = 0
    </select>


    <select id="findAllCharsByLessonId" resultMap="userCharacterVOResultMap">
        SELECT
            tlc.lesson_id,
            tlc.character_id,
            tlc.`subject`,
            c.char_s,
            c.char_t,
--             cr.video_id,
            GROUP_CONCAT(IF(crf.resource_type = 1, crf.uuid, NULL)) AS video_id,
			GROUP_CONCAT(IF(crf.resource_type = 5, crf.uuid, NULL)) AS cartoon_id,
			GROUP_CONCAT(IF(crf.resource_type = 6, crf.uuid, NULL)) AS extension_id,
            IFNULL( uc.finished_percent, 0 ) AS finished_percent,
            IFNULL( uc.watch_progress, 0) AS watch_progress,
            IFNULL( tab.learn_count, 0) AS learn_count
        FROM
            sf_textbook_lesson_character tlc
            LEFT JOIN sf_character c ON tlc.character_id = c.id
            LEFT JOIN sf_character_resource cr ON c.id = cr.character_id
                AND tlc.`subject` = cr.`subject`
                AND cr.is_deleted = 0
                AND cr.enabled = 1
                -- 1是软硬笔视频 5是硬笔识字动画 6是硬笔知识拓展
                AND cr.resource_type IN (1,5,6)
            LEFT JOIN sf_character_resource_file crf ON cr.id = crf.resource_id
				AND crf.is_deleted = 0
            LEFT JOIN sf_user_character uc ON tlc.lesson_id = uc.lesson_id AND tlc.character_id = uc.character_id
                AND uc.is_deleted = 0
                AND uc.user_id = #{userId}
            LEFT JOIN (
                SELECT
                    t1.character_id,
                    COUNT( t2.id ) AS learn_count
                FROM
                    sf_textbook_lesson_character t1
                    LEFT JOIN sf_user_character t2 ON t1.character_id = t2.character_id
                    AND t1.lesson_id = t2.lesson_id
                    AND t2.is_deleted = 0
                    AND (t2.finished_percent > 0 OR t2.watch_progress > 0)
                WHERE
                    1 = 1
                    AND t1.is_deleted = 0
                    AND t1.lesson_id = #{lessonId}
                GROUP BY
                    t1.character_id
            ) tab ON tab.character_id = tlc.character_id
        WHERE
            1 = 1
            AND tlc.is_deleted = 0
            AND c.is_deleted = 0
            AND tlc.lesson_id = #{lessonId}
            GROUP BY tlc.character_id
    </select>

    <select id="findUnionByCharacterId" resultMap="userCharacterResultMap">
        SELECT * FROM sf_user_character
        WHERE is_deleted = 0
        AND user_id = #{userId}
        AND lesson_id = #{lessonId}
        AND character_id = #{characterId}
    </select>

    <select id="findFinishedCharCountOfLesson" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sf_user_character uc
        LEFT JOIN sf_character c ON uc.character_id = c.id
        LEFT JOIN sf_textbook_lesson_character tlc ON uc.lesson_id = tlc.lesson_id AND uc.character_id = tlc.character_id
        WHERE 1=1
        AND c.is_deleted = 0
        AND tlc.is_deleted = 0
        AND uc.is_deleted = 0
        AND uc.lesson_id = #{lessonId}
        AND uc.user_id = #{userId}
        AND uc.finished_percent = 100
    </select>

    <select id="findFinishedCharCountOfTextbook" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sf_user_character uc
        LEFT JOIN sf_user_lesson ul ON uc.lesson_id = ul.lesson_id AND uc.user_id = ul.user_id
        LEFT JOIN sf_character c ON uc.character_id = c.id
        LEFT JOIN sf_textbook_lesson_character tlc ON uc.lesson_id = tlc.lesson_id AND uc.character_id = tlc.character_id
        WHERE 1=1
        AND c.is_deleted = 0
        AND tlc.is_deleted = 0
        AND uc.is_deleted = 0
        AND ul.textbook_id = #{textbookId}
        AND uc.user_id = #{userId}
        AND uc.finished_percent = 100
    </select>

</mapper>
