<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.user.mapper.UserCharacterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userCharacterResultMap" type="cn.rzedu.sf.user.entity.UserCharacter">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="lesson_id" property="lessonId"/>
        <result column="character_lesson_id" property="characterLessonId"/>
        <result column="character_id" property="characterId"/>
        <result column="finished_percent" property="finishedPercent"/>
        <result column="watch_progress" property="watchProgress"/>
        <result column="last_visited_time" property="lastVisitedTime"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="userCharacterVOResultMap" type="cn.rzedu.sf.user.vo.UserCharacterVO">
        <result column="char_s" property="charS"/>
        <result column="char_t" property="charT"/>
        <result column="video_id" property="videoId"/>
        <result column="learn_count" property="learnCount"/>
        <result column="cartoon_id" property="cartoonId"/>
        <result column="extension_id" property="extensionId"/>
    </resultMap>


    <select id="selectUserCharacterPage" resultMap="userCharacterResultMap">
        select * from sf_user_character where is_deleted = 0
    </select>


    <select id="findAllCharsByLessonId" resultMap="userCharacterVOResultMap">
        SELECT
			t1.lesson_id,
            t1.character_id,
            t1.`subject`,
            t2.char_s,
            t2.char_t,
			t4.uuid AS video_id,
			IFNULL(t5.finished_percent, 0) AS finished_percent
        FROM sf_textbook_lesson_character t1
        LEFT JOIN sf_textbook_lesson t6 ON t1.lesson_id = t6.id
        LEFT JOIN sf_textbook t7 ON t6.textbook_id = t7.id
        LEFT JOIN sf_character t2 ON t1.character_id = t2.id
        LEFT JOIN sf_character_resource t3 ON t2.id = t3.character_id
            AND t1.`subject` = t3.`subject`
            AND t3.is_deleted = 0
            AND t3.resource_type IN (723, 716)
        LEFT JOIN sf_character_resource_file t4 ON t3.id = t4.resource_id
            AND t4.font = t7.font
            AND t4.is_deleted = 0
            AND t4.object_id IN ("pen_video", "learn_video")
        LEFT JOIN sf_user_character t5 ON t1.lesson_id = t5.lesson_id
          AND t1.character_id = t5.character_id
            AND t5.is_deleted = 0
            AND t5.user_id = #{userId}
        WHERE
            1 = 1
            AND t1.is_deleted = 0
            AND t2.is_deleted = 0
            AND t1.lesson_id = #{lessonId}
            GROUP BY t1.character_id
    </select>

    <select id="findUnionByCharacterId" resultMap="userCharacterResultMap">
        SELECT * FROM sf_user_character
        WHERE is_deleted = 0
        AND user_id = #{userId}
        AND lesson_id = #{lessonId}
        AND character_id = #{characterId}
    </select>

    <select id="findFinishedCharCountOfLesson" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sf_user_character uc
        LEFT JOIN sf_character c ON uc.character_id = c.id
        LEFT JOIN sf_textbook_lesson_character tlc ON uc.lesson_id = tlc.lesson_id AND uc.character_id = tlc.character_id
        WHERE 1=1
        AND c.is_deleted = 0
        AND tlc.is_deleted = 0
        AND uc.is_deleted = 0
        AND uc.lesson_id = #{lessonId}
        AND uc.user_id = #{userId}
        AND uc.finished_percent = 100
    </select>

    <select id="findFinishedCharCountOfTextbook" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sf_user_character uc
        LEFT JOIN sf_user_lesson ul ON uc.lesson_id = ul.lesson_id AND uc.user_id = ul.user_id
        LEFT JOIN sf_character c ON uc.character_id = c.id
        LEFT JOIN sf_textbook_lesson_character tlc ON uc.lesson_id = tlc.lesson_id AND uc.character_id = tlc.character_id
        WHERE 1=1
        AND c.is_deleted = 0
        AND tlc.is_deleted = 0
        AND uc.is_deleted = 0
        AND ul.textbook_id = #{textbookId}
        AND uc.user_id = #{userId}
        AND uc.finished_percent = 100
    </select>

</mapper>
