<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sc.goods.mapper.PropKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="propKeyResultMap" type="cn.rzedu.sc.goods.entity.PropKey">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="name" property="name"/>
        <result column="is_sku" property="isSku"/>
        <result column="list_order" property="listOrder"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectPropKeyPage" resultMap="propKeyResultMap">
        select * from sc_prop_key where is_deleted = 0
    </select>

</mapper>
