<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.resource.mapper.CharacterResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="characterResourceResultMap" type="cn.rzedu.sf.resource.entity.CharacterResource">
        <id column="id" property="id"/>
        <result column="character_id" property="characterId"/>
        <result column="name_tr" property="nameTr"/>
        <result column="keyword" property="keyword"/>
        <result column="char_s" property="charS"/>
        <result column="char_t" property="charT"/>
        <result column="enabled" property="enabled"/>
        <result column="subject" property="subject"/>
        <result column="visited_count" property="visitedCount"/>
        <result column="resource_type" property="resourceType"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectCharacterResourcePage" resultMap="characterResourceResultMap">
        select * from sf_character_resource where is_deleted = 0
        <if test="param2 != null">
            <if test="param2.characterId != null">
                AND character_id = #{param2.characterId}
            </if>
            <if test="param2.subject != null">
                AND subject = #{param2.subject}
            </if>
            <if test="param2.enabled != null">
                <choose>
                    <when test="param2.enabled == true">
                        AND enabled = 1
                    </when>
                    <otherwise>
                        AND enabled = 0
                    </otherwise>
                </choose>
            </if>
        </if>
    </select>

    <update id="updateDisable">
        UPDATE sf_character_resource SET enabled = 0
        WHERE character_id = #{characterId} AND `subject` = #{subject} AND resource_type = #{resourceType}
    </update>

    <update id="updateCharST">
        UPDATE sf_character_resource SET char_s = #{charS}, char_t = #{charT} WHERE character_id = #{characterId}
    </update>

    <update id="updateVisitedCount">
        UPDATE sf_character_resource
        SET visited_count = (
            SELECT t.num FROM (
                    SELECT IFNULL( visited_count, 0 ) + 1 AS num
                    FROM sf_character_resource
                    WHERE character_id = #{characterId}
                    AND `subject` = #{subject}
                    AND enabled = 1
                ) t
        )
        WHERE character_id = #{characterId}
        AND `subject` = #{subject}
        AND resource_type = #{resourceType}
        AND enabled = 1
    </update>

    <select id="findUnion" resultMap="characterResourceResultMap">
        select * from sf_character_resource where is_deleted = 0
--         AND enabled = 1
        AND character_id = #{characterId}
        AND `subject` = #{subject}
        AND resource_type = #{resourceType}
        LIMIT 1
    </select>

    <select id="findCharVideoResource" resultType="java.util.Map">
        SELECT t1.char_s AS charS, t1.id AS characterId, t3.uuid AS videoId
        FROM sf_character t1
        LEFT JOIN sf_character_resource t2 ON t1.id = t2.character_id
                AND t2.is_deleted = 0
                AND t2.resource_type IN (723, 716)
        LEFT JOIN sf_character_resource_file t3 ON t2.id = t3.resource_id
                AND t3.is_deleted = 0
                AND t3.object_id IN ("pen_video", "learn_video")
        WHERE t1.id = #{characterId}
        AND t3.font = #{font}
        <if test="subject != null">
            AND t2.`subject` = #{subject}
        </if>
        LIMIT 1
    </select>
</mapper>
