<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.resource.mapper.MediaResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mediaResourceResultMap" type="cn.rzedu.sf.resource.vo.MediaResourceVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="subject" property="subject"/>
        <result column="sort_id" property="sortId"/>
        <result column="tags" property="tags"/>
        <result column="object_type" property="objectType"/>
        <result column="suffix" property="suffix"/>
        <result column="uuid" property="uuid"/>
        <result column="cover_img_url" property="coverImgUrl"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="media_type" property="mediaType"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="media_type" property="mediaType"/>
    </resultMap>

    <resultMap id="mediaResourceSortResultMap" type="cn.rzedu.sf.resource.vo.MediaResourceSortVO">
        <id column="sort_id" property="sortId"/>
        <result column="sort_name" property="sortName"/>
        <result column="subject" property="subject"/>
        <result column="sort_media_type" property="sortMediaType"/>
    </resultMap>




    <select id="selectMediaResourcePage" resultMap="mediaResourceResultMap">
        select * from sf_media_resource where is_deleted = 0 and media_type = #{mediaType} and subject = #{subject}
    </select>

    <select id="selectMediaResourceSortList" resultMap="mediaResourceSortResultMap">
        select sort_id,sort_name,subject,sort_media_type from sf_media_resource_sort where sort_media_type = #{mediaType} and subject = #{subject} order by order_id
    </select>

    <select id="selectMediaResourceList" resultMap="mediaResourceResultMap">
        select * from sf_media_resource
        where is_deleted = 0 and media_type = #{mediaType}
        and subject = #{subject}
        <if test="sortId != null and sortId != ''">
            and sort_id = #{sortId}
        </if>
    </select>


    <select id="selectMediaResourceSortSearch" resultMap="mediaResourceResultMap">
        select * from sf_media_resource
        where is_deleted = 0 and media_type = #{mediaType}
        and subject = #{subject}
        <if test = "sortId != null and sortId != ''">
        and sort_id = #{sortId}
        </if>
        <if test = "title != null and title != ''">
        and title LIKE CONCAT('%',#{title},'%')
        </if>
    </select>

    <select id="selectMediaResourceHardpenSearch" resultMap="mediaResourceResultMap">
        select * from sf_media_resource
        where is_deleted = 0
        and subject = 72
        <if test = "title != null and title != ''">
            and title LIKE CONCAT('%',#{title},'%')
        </if>
        <if test = "mediaType != null and mediaType != ''">
            and media_type = #{media_type}
        </if>
    </select>








    <select id="selectMediaResourceSort" resultMap="mediaResourceResultMap">
        select * from sf_media_resource where is_deleted = 0
    </select>

    <select id="selectMediaResourceFull" resultMap="mediaResourceResultMap">
        select * from sf_media_resource where is_deleted = 0
    </select>

</mapper>
