<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.resource.mapper.MediaResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mediaResourceResultMap" type="cn.rzedu.sf.resource.vo.MediaResourceVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="subject" property="subject"/>
        <result column="sort_id" property="sortId"/>
        <result column="tags" property="tags"/>
        <result column="object_type" property="objectType"/>
        <result column="suffix" property="suffix"/>
        <result column="uuid" property="uuid"/>
        <result column="cover_img_url" property="coverImgUrl"/>
        <result column="hits" property="hits"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="media_type" property="mediaType"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="media_type" property="mediaType"/>
    </resultMap>

    <resultMap id="mediaResourceSortResultMap" type="cn.rzedu.sf.resource.vo.MediaResourceSortVO">
        <id column="sort_id" property="sortId"/>
        <result column="sort_name" property="sortName"/>
        <result column="subject" property="subject"/>
        <result column="sort_media_type" property="sortMediaType"/>
    </resultMap>

    <resultMap id="browsingHistoryResultMap" type="cn.rzedu.sf.resource.vo.BrowsingHistoryVO">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="resource_id" property="resourceId"/>
        <result column="subject" property="subject"/>
        <result column="media_type" property="mediaType"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
    </resultMap>

    <resultMap id="searchHistoryResultMap" type="cn.rzedu.sf.resource.vo.SearchHistoryVO">
        <result column="id" property="id"/>
        <result column="keyword" property="keyword"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="subject" property="subject"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
    </resultMap>

    <insert id="saveSearchHistory">
        insert into sf_user_resource_log(keyword,user_id,user_name,subject,create_date,modify_date)
        values (#{keyword},#{userId},#{userName},#{subject},#{createDate},#{modifyDate})
    </insert>

    <select id="selectSearchHistory" resultType="java.lang.String">
        select distinct keyword from sf_user_resource_log where   user_name = #{userName}
                                                   and subject = #{subject}
        order by create_date desc limit 0,6
    </select>

    <insert id="saveBrowsingHistory">
        insert into sf_media_resource_recently(user_id,user_name,resource_id,subject,media_type,create_date,modify_date)
        values (#{userId},#{userName},#{resourceId},#{subject},#{mediaType},#{createDate},#{modifyDate})
    </insert>

    <select id="selectResourceId" resultType="java.lang.Integer">
        select distinct resource_id from sf_media_resource_recently where user_name = #{userName}
                                                             and subject = #{subject}
                                                             and media_type = #{mediaType}
        order by create_date desc limit 0,10
    </select>




    <select id="selectMediaResourcePage" resultMap="mediaResourceResultMap">
        select * from sf_media_resource where is_deleted = 0 and media_type = #{mediaType} and subject = #{subject} order by create_date
    </select>

    <select id="selectMediaResourceByID" resultMap="mediaResourceResultMap">
        select * from sf_media_resource where is_deleted = 0 and  id = #{resourceId}
    </select>

    <select id="selectMediaResourceSortList" resultMap="mediaResourceSortResultMap">
        select sort_id,sort_name,subject,sort_media_type from sf_media_resource_sort
        where is_deleted = 0 and sort_media_type = #{mediaType} and subject = #{subject} order by order_id
    </select>

    <select id="selectMediaResourceList" resultMap="mediaResourceResultMap">
        select * from sf_media_resource
        where is_deleted = 0 and media_type = #{mediaType}
        and subject = #{subject}
        <if test="sortId != null and sortId != ''">
            and sort_id = #{sortId}
        </if>
        order by create_date
    </select>


    <select id="selectMediaResourceSortSearch" resultMap="mediaResourceResultMap">
        select * from sf_media_resource
        where is_deleted = 0 and media_type = #{mediaType}
        and subject = #{subject}
        <if test = "sortId != null and sortId != ''">
        and sort_id = #{sortId}
        </if>
        <if test = "title != null and title != ''">
        and title LIKE CONCAT('%',#{title},'%')
        </if>
        order by create_date
    </select>

    <select id="selectMediaResourceQuery" resultMap="mediaResourceResultMap">
        select * from sf_media_resource
        where is_deleted = 0
        and subject = #{subject}
        <if test = "title != null and title != ''">
            and title LIKE CONCAT('%',#{title},'%')
        </if>
        order by create_date
    </select>



</mapper>
