<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzedu.sf.resource.mapper.ResourceManagementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mediaResourceResultMap" type="cn.rzedu.sf.resource.vo.MediaResourceVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="subject" property="subject"/>
        <result column="sort_id" property="sortId"/>
        <result column="sort_name" property="sortName"/>
        <result column="tags" property="tags"/>
        <result column="object_type" property="objectType"/>
        <result column="suffix" property="suffix"/>
        <result column="uuid" property="uuid"/>
        <result column="cover_img_url" property="coverImgUrl"/>
        <result column="hits" property="hits"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="media_type" property="mediaType"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="media_type" property="mediaType"/>
    </resultMap>

    <resultMap id="programaManagementResultMap" type="cn.rzedu.sf.resource.vo.ProgramaManagementVO">
        <id column="sort_id" property="sortId"/>
        <result column="sort_name" property="sortName"/>
        <result column="subject" property="subject"/>
        <result column="media_type" property="mediaType"/>
        <result column="resourceCount" property="resourceCount"/>
    </resultMap>

    <select id="selectPrograma" resultMap="programaManagementResultMap">
        select a.sort_id,a.sort_name,a.subject,a.media_type,count(*) resourceCount from
            (select a.sort_id,b.sort_name,a.subject,a.media_type,b.order_id
             from sf_media_resource a
             inner join sf_media_resource_sort b
             on a.sort_id = b.sort_id
             where  a.subject = #{subject} and a.media_type = #{mediaType}
            ) a
        group by a.sort_id,a.subject
        ORDER BY a.order_id
    </select>

    <update id="updateSort">
        update sf_media_resource_sort set sort_name = #{sortName}
        where subject = #{subject} and sort_media_type = #{mediaType}
    </update>

    <insert id="addSort">
        insert into sf_media_resource_sort(sort_name,sort_media_type,subject) values
        (#{sortName},#{mediaType},#{subject})
    </insert>

    <select id="selectResourceList" resultMap="mediaResourceResultMap">
        select a.*,b.sort_name from sf_media_resource a
        inner join sf_media_resource_sort b
        on a.sort_id = b.sort_id and a.subject = b.subject and a.media_type = b.sort_media_type
        where a.is_deleted = 0 and a.subject = #{subject} and a.media_type = #{mediaType}
        <if test = "title != null and title != ''">
            and a.title LIKE CONCAT('%',#{title},'%')
        </if>
        <if test = "sortName != null and sortName != ''">
            and b.sort_name  = #{sortName}
        </if>
    </select>

    <select id="selectResourceDetail" resultMap="mediaResourceResultMap">
        select * from sf_media_resource where is_deleted = 0 and id = #{resourceId}
    </select>
    
    <update id="updateResource">
        update sf_media_resource set
        <if test = "title != null and title != ''">
            title = #{title},
        </if>
        <if test = "sortId != null and sortId != ''">
            sort_id = #{sortId},
        </if>
        <if test = "uuid != null and uuid != ''">
            uuid = #{uuid},
        </if>
        <if test = "coverImgUrl != null and coverImgUrl != ''">
            cover_img_url = #{coverImgUrl},
        </if>
        is_deleted = 0
        where  id = #{resourceId}

    </update>

    <update id="deleteResource">
        update sf_media_resource set is_deleted = 1 where id = #{resourceId}
    </update>

    <insert id="addResource">
        insert into sf_media_resource(title,subject,sort_id,object_type,suffix,uuid,cover_img_url,create_date,media_type) values
        (#{title},#{subject},#{sortId},#{objectType},#{suffix},#{uuid},#{coverImgUrl},#{createDate},#{mediaType})
    </insert>

</mapper>
